@media screen and (max-width: 1701.5px) {
  .two-block-products div .main-product {
    height: 747px;
  }
  .left-block article {
    height: 415px;
  }
  .right-block article {
    height: 415px;
  }
}
@media screen and (max-width: 1537.5px) {
  .two-block-products div .main-product {
    height: 630px;
  }
  .left-block article {
    height: 350px;
  }
  .right-block article {
    height: 350px;
  }
}
@media screen and (max-width: 1435px) {
  .two-block-products div .main-product {
    height: 540px;
  }
  .left-block article {
    height: 300px;
  }
  .right-block article {
    height: 300px;
  }
}
@media screen and (max-width: 1230px) {
  .two-block-products div .main-product {
    height: 450px;
  }
  .left-block article {
    height: 250px;
  }
  .right-block article {
    height: 250px;
  }
}
